.app {
  position: relative;
  padding: 30px;
  width: 100%;
}

[class^='app-text__'] {
  position: relative;
}

.app-top {
  text-align: center;
}
.app-weatherInfo {
  text-align: center;
}

.app-text__time {
  margin-top: 12px;
  margin-bottom: 12px;
}

.app-input {
  padding: 9px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 18px;
}

.app-weatherIcon {
  text-align: center;
}

.app-additionalInfo {
  width: 100%;
  margin: auto;
  max-width: 600px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.app-additionalInfoItem::after {
  content: '';
  width: 1px;
  height: 60%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.app-additionalInfoItem:last-child:after {
  display: none;
}

.app-sunInfo {
  margin: 18px auto 0;
}

.app-sunInfo.grid {
  grid-column-gap: 30px;
}

.app-sunInfoItem {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.app-sunInfoItem:last-child {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
