.background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: -1;
  border-radius: 8px;
}

.background--morning::after {
  background-color: cornflowerblue;
}

.background--afternoon::after {
  background-color: orange;
}

.background--evening::after {
  background-color: purple;
}

.background--night::after {
  background-color: black;
}
