.typography {
  display: block;
  text-align: center;
}

.typography--title {
  font-size: 50px;
}
.typography--subtitle {
  font-size: 44px;
}

.typography--caption {
  font-size: 35px;
}

.typography--subcaption {
  font-size: 24px;
}

.typography--text {
  font-size: 18px;
}

.typography--pawn {
  font-size: 14px;
  opacity: 0.8;
  text-decoration: underline;
}

.typography--italic {
  font-style: italic;
}

.typography--bold {
  font-weight: bold;
}

.typography--white {
  color: #fff;
}
